<form #suplierForm="ngForm">
  {{diagnostic}}
  <div>
    <label for="po-number"><em>UNICEF <abbr title="Purchase Order">PO</abbr> number</em></label>
    <input type="number" id="po-number" name="po-number" [(ngModel)]="barcode.poNumber" required>
  </div>

  <div>
    <label for="po-item-number"><em>Item number </em></label>
    <input type="number" min="0" step="1" id="po-item-number" name="po-item-number" [(ngModel)]="barcode.poItemNumber" required>
  </div>

  <div>
    <label for="material-number">Material number</label>
    <input class="uppercase" type="text" id="material-number" name="material-number" [(ngModel)]="barcode.materialNumber" required>
  </div>

  <div>
    <label for="quantity">Quantity</label>
    <input type="number" min="0" id="quantity" name="quantity" [(ngModel)]="barcode.quantity" required>
  </div>

  <div>
    <label for="batch-number">Batch number (optional)</label>
    <input type="text" id="batch-number" name="batch-number" [(ngModel)]="barcode.batchNumber">
  </div>

  <div>
    <label for="expiry-date">Expiry date (optional)</label>
    <input type="date" id="expiry-date" name="expiry-date" [(ngModel)]="barcode.expiryDate">
  </div>

  <div>
    <label for="manufacturing-date">Manufacturing date (optional)</label>
    <input type="date" id="manufacturing-date" name="manufacturing-date" [(ngModel)]="barcode.manufacturingDate">
  </div>

    <button type="submit" (click)="generateBarcodeClicked()" [disabled]="!suplierForm.form.valid">Generate barcode</button>
</form>
