<form #suplierForm="ngForm">
  <div class="form-group row">
    <label for="po-number" class="col-sm-5 col-form-label">
      <em>UNICEF <abbr title="Purchase Order">PO</abbr> number</em>
    </label>
    <input type="number" id="po-number" name="po-number"
      class="form-control col-sm-4"
      [(ngModel)]="barcode.poNumber" required>
  </div>

  <div class="form-group row">
    <label for="item-number" class="col-sm-5 col-form-label">
      <em>Item number </em>
    </label>
    <input type="number" min="0" step="1" id="item-number" name="item-number"
      class="form-control col-sm-4"
      [(ngModel)]="barcode.itemNumber" required>
  </div>

  <div class="form-group row">
    <label for="material-number" class="col-sm-5 col-form-label">
      <em>Material number</em>
    </label>
    <input class="uppercase" type="text" id="material-number" name="material-number"
      class="form-control col-sm-4"
      [(ngModel)]="barcode.materialNumber" required>
  </div>

  <div class="form-group row">
    <label for="quantity" class="col-sm-5 col-form-label">
      <em>Quantity</em>
    </label>
    <input type="number" min="0" id="quantity" name="quantity"
      class="form-control col-sm-3"
      [(ngModel)]="barcode.quantity" required>
  </div>

  <div class="form-group row">
    <label for="batch-number" class="col-sm-5 col-form-label">
      Batch number (optional)
    </label>
    <input type="text" id="batch-number" name="batch-number"
      class="form-control col-sm-5"
      [(ngModel)]="barcode.batchNumber">
  </div>

  <div class="form-group row">
    <label for="manufacturing-date" class="col-sm-5 col-form-label">
      Manufacturing date (optional)
    </label>
    <input type="date" id="manufacturing-date" name="manufacturing-date"
      class="form-control col-sm-4"
      max="2100-00-00"
      [(ngModel)]="barcode.manufacturingDate">
  </div>

  <div class="form-group row">
    <label for="expiry-date" class="col-sm-5 col-form-label">
      Expiry date (optional)
    </label>
    <input type="date" id="expiry-date" name="expiry-date"
      max="2100-00-00"
      class="form-control col-sm-4"
      [(ngModel)]="barcode.expiryDate">
  </div>



    <button type="submit" class="btn btn-primary offset-sm-5"
      (click)="generateBarcodeClicked()"
      [disabled]="!suplierForm.form.valid"
      title="Fill all the mandatory fields marked with * to generate the barcode">
        Generate barcode
    </button>
</form>
