<form #warehouseForm="ngForm">
  <div class="form-group row">
    <label for="delivery-number" class="col-sm-3 col-form-label">Delivery number</label>
    <input type="text" class="form-control col-sm-4"
      maxlength="10"
      pattern="[0-9]*"
      id="delivery-number"
      name="delivery-number"
      title="A number with up to 10 digits."
      [(ngModel)]="barcode.deliveryNumber"
      (blur)="addPadToDeliveryNumber()"
      autofocus
      required #spy>

  </div>
  <div class="form-group row">
    <label for="item-number" class="col-sm-3 col-form-label">Handling unit</label>
    <input type="text" class="form-control col-sm-2 " id="handling-unit" maxlength="4"
      pattern="[0-9]*" name="po-handling-unit"
      [(ngModel)]="barcode.handlingUnit"
      (blur)="addPadToHandlingUnit()"
      title="A number with up to 4 digits."
      required>
  </div>
  <div class="row">
  <input type="submit" class="btn btn-primary offset-sm-3"
    (click)="generateBarcodeClicked()"
    [disabled]="!warehouseForm.form.valid"
    value="Generate barcode">
  </div>

  <!-- <br>TODO: Spy: {{spy.className}} -->
</form>
