<form #warehouseForm="ngForm">
  <div>
    <label for="delivery-number">Delivery number</label>
    <input type="text" maxlength="8" pattern="[0-9]*" id="delivery-number"
      name="delivery-number"
      [(ngModel)]="barcode.deliveryNumber" required #spy>

  </div>
  <div>
    <label for="item-number">Item number</label>
    <input type="text" id="item-number" maxlength="4"
      pattern="[0-9]*" name="po-item-number"
      [(ngModel)]="barcode.itemNumber" required>
  </div>
  <button class="btn btn-primary" type="submit" (click)="generateBarcodeClicked()" [disabled]="!warehouseForm.form.valid">Generate barcode</button>
   <br>TODO: Spy: {{spy.className}}
</form>
