<header>
  <h1>UNICEF Barcode generator</h1>
</header>
<div class="grid-container">
  <section class="form">
    <div class="button-grp">
      <span>Barcode type:</span><br>
      <button (click)="showForm('supliers')" [ngClass]="{'active':(selectedForm=='supliers')}" >Supliers barcode</button>
      <button (click)="showForm('warehouse')" [ngClass]="{'active':(selectedForm=='warehouse')}">Warehouse barcode</button>
    </div>
    <div [hidden]="selectedForm!='supliers'">
      <app-supliers-form [(barcode)]="suplierBarcode" (generateBarcode)="generateSuplierBarcode()"></app-supliers-form>
    </div>
    <div [hidden]="selectedForm!='warehouse'">
    <app-warehouse-form [(barcode)]="warehouseBarcode" (generateBarcode)="generateWarehouseBarcode()"></app-warehouse-form>
  </div>
  </section>

  <section class="barcodes" id="barcodes">
      <app-barcode-list></app-barcode-list>
  </section>
</div>
