<div class="row">
<div class="col-sm-12 col-lg-8">
<div class="card mt-3 d-print-none">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" (click)="showForm('supliers')" [ngClass]="{'active':(selectedForm=='supliers')}" href="#">Supliers barcode</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="showForm('warehouse')" [ngClass]="{'active':(selectedForm=='warehouse')}" href="#">Warehouse barcode</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <app-supliers-form
      [hidden]="selectedForm!='supliers'"
      [(barcode)]="suplierBarcode"
      (generateBarcode)="generateSuplierBarcode()">
    </app-supliers-form>
    <app-warehouse-form
      [hidden]="selectedForm!='warehouse'"
      [(barcode)]="warehouseBarcode"
      (generateBarcode)="generateWarehouseBarcode()">
    </app-warehouse-form>
   </div>
 </div>
  <section class="form">


  </section>
  <section class="barcodes" id="barcodes">
    <app-barcode-list></app-barcode-list>
  </section>

</div>
