  <dl>
    <div class="row">
      <dt class="col-sm-5 text-right">UNICEF PO Number</dt>
      <dd class="col-sm-7">{{barcode.poNumber}}</dd>
    </div>

    <div class="row">
      <dt class="col-sm-5 text-right">Item No.</dt>
      <dd class="col-sm-7">{{barcode.itemNumber}}</dd>
    </div>

    <div class="row">
      <dt class="col-sm-5 text-right">Material No.</dt>
      <dd class="col-sm-7">{{barcode.materialNumber}}</dd>
    </div>

    <div class="row">
        <dt class="col-sm-5 text-right">Quantity</dt>
        <dd class="col-sm-7">{{barcode.quantity}}</dd>
    </div>

    <div class="row">
      <dt class="col-sm-5 text-right">Batch No.</dt>
      <dd class="col-sm-7">{{barcode.batchNumber}}</dd>
    </div>

    <div class="row">
      <dt class="col-sm-5 text-right">Manufacturing date</dt>
      <dd class="col-sm-7">{{barcode.manufacturingDate}}</dd>
    </div>

    <div class="row">
      <dt class="col-sm-5 text-right">Expiry date</dt>
      <dd class="col-sm-7">{{barcode.expiryDate}}</dd>
    </div>
  </dl>
