/* You can add global styles to this file, and also import other style files */
$brand-color: rgb(0,155,255);

$success-color: #42A948; /* green */
$danger-color: #a94442; /* red */
$mandatory-color: #FFFABE;

$field-border-color: #C0C0C0;


html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: Helvetica;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 3rem;
}

label {
  line-height: 2rem;
  display: block;
  em:after {
    color: $danger-color;
    content: "*";
  }
}

input {
  font-size: 1.4rem;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 2px;
  border: 1px solid $field-border-color;
  width: 100%;

  &.uppercase {
   text-transform: uppercase;
  }
}

.button-grp {
  button.active {

  }
}
button {
  border-radius: 2px;
  font-size: 1.4rem;
  padding: 0.8rem;

  &.active {
    color: $brand-color;
  }
}


.ng-untouched[required] {
  background-color: $mandatory-color;
}
// Forms
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid $success-color;
}

.ng-invalid:not(form)  {
  border-bottom: 2px solid $danger-color;
}
