/* You can add global styles to this file, and also import other style files */
$brand-color: rgb(0,155,255);

$light-text: #999;
$success-color: #42A948; /* green */
$danger-color: #a94442; /* red */
$mandatory-color: #FFFABE;

$field-border-color: #C0C0C0;

// Required
//@import "../node_modules/bootstrap/scss/functions";
//@import "../node_modules/bootstrap/scss/variables";
//@import "../node_modules/bootstrap/scss/mixins";
// Optional
//@import "../node_modules/bootstrap/scss/reboot";

@import "../node_modules/bootstrap/scss/bootstrap";

footer {
  /*position: absolute;
  right: 0;
  bottom: 0;
  left: 0;*/
  background-color: white;
  padding-bottom: 3rem;
  text-align: center;
  padding-top: 3rem;
  font-size: 1.2rem;
  color: $light-text;
  .heart:before {
    color: $danger-color;
  content: '\2665';
  }
}


.ng-untouched[required] {
  background-color: $mandatory-color;
}
// Forms
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid $success-color;
}

.ng-invalid:not(form)  {
  border-bottom: 2px solid $danger-color;
}
